body {
	background-color: #EEE;
	font-family: Arial, "Times New Roman", Tahoma;
	text-align: center;	
}

.img-logo {
	margin: auto;
}

.menu-images {
	height: 200px;
	margin: auto;
}

label:not(.radio-inline) {
	text-align: left;
	width: 100%;
}

div.radio {
	display: block;
	text-align: left;
}
	
.checkbox {
	text-align: left;
	display: inline;
}

.panel > .panel-heading {
    background-image: none;
    background-color: brown;
    color: white;

}

.jumbotron img {
	display:block;
    margin-left:auto;
    margin-right:auto;
}