body {
	background-color: #FFF;
	font-family: Arial, "Times New Roman", Tahoma;
}

div[class^="col-"] {
      height: 100px; text-align: center; border: 2px solid black;
}
  
img {
	max-width: 100%;
	height: auto;
}